.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist

apps/backend/data/*.db
apps/backend/data/*.db-journal
apps/backend/data/*.db-wal
apps/backend/data/*.db-shm