.main {
  padding-right: var(--mantine-spacing-md);
  min-height: calc(100dvh - var(--app-shell-header-height));
}

.mainInner {
  background-color: var(--mantine-color-dark-8);
  border-top-left-radius: var(--mantine-radius-lg);
  border-top-right-radius: var(--mantine-radius-lg);
  min-height: inherit;
}

@media (max-width: 48em) {
  .main {
    padding-right: 0;
  }

  .mainInner {
    border-top-left-radius: var(--mantine-radius-md);
    border-top-right-radius: var(--mantine-radius-md);
  }
}